In [38]:
import pandas as pd

In [39]:
df_movies = pd.read_csv('scraped_transcriptions.csv', encoding='utf-8', delimiter=';')
df_movies.head()

                   movies                         links
0          Cascade (2023)        movie/Cascade-12180508
1       Cet été-là (2022)        movie/Cet_t-l-15783304
2           Ritual (2022)         movie/Ritual-14305564
3    The Initiated (2023)  movie/The_Initiated-27726262
4  Blame It on Rio (1984)   movie/Blame_It_on_Rio-86973

In [40]:
df_scripts = pd.read_csv('scrape_transcriptions_1.csv', encoding='utf-8', delimiter=';')
df_scripts.head()

,links,script
0,movie/Comfort_Farms-11916044,J sunk on that ship tj j it'hat we were going ...
1,movie/Monelle-39150,"Monelle - Mrs. Constant, how are you? - Very w..."
2,movie/An_Evening_in_Paris-74503,Subtitle synced by Grace. This is Air-India's ...
3,movie/ZZ_Top_Live_from_Texas-1242461,[cheering] [synthesizer playing] [cheering] [M...
4,movie/The_Humbling-1568343,NaN

In [41]:
df = pd.merge(df_movies, df_scripts, how='right', on='links').drop_duplicates('links')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53719 entries, 0 to 55599
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movies  53719 non-null  object
 1   links   53719 non-null  object
 2   script  53679 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [47]:
df[df['script'].isnull()].drop_duplicates()

,movies,links,script
4,The Humbling (2014),movie/The_Humbling-1568343,NaN
5,$ (1971),movie/-68152,NaN
6,Blind Detective (2013),movie/Blind_Detective-2332707,NaN
7,Killer Workout (1987),movie/Killer_Workout-91339,NaN
8,All the Beauty and the Bloodshed (2022),movie/All_the_Beauty_and_the_Bloodshed-21374850,NaN
9,Smart Girls Don't Talk (1948),movie/Smart_Girls_Dont_Talk-40802,NaN
10,Puss in Boots: The Last Wish (2022),movie/Puss_in_Boots_The_Last_Wish-3915174,NaN
11,Big Trip 2: Special Delivery (2022),movie/Big_Trip_2_Special_Delivery-9719256,NaN
12,One Nation Under Stress (2019),movie/One_Nation_Under_Stress-10350078,NaN
13,Black Adam (2022),movie/Black_Adam-6443346,NaN
14,Robert Williams Mr. Bitchin' (2010),movie/Robert_Williams_Mr_Bitchin-1245098,NaN
15,20th Century Girl (2022),movie/20th_Century_Girl-15340724,NaN
16,Iliza Shlesinger: Hot Forever (2022),movie/Iliza_Shlesinger_Hot_Forever-22074270,NaN
17,Who Killed Cooper Dunn? (2022),movie/Who_Killed_Cooper_Dunn-12960310,NaN
18,Emily the Criminal (2022),movie/Emily_the_Criminal-15255876,NaN
19,"Confess, Fletch (2022)",movie/Confess_Fletch-12718300,NaN
20,The Fiction-Makers (1968),movie/The_Fiction-Makers-61662,NaN
21,Honk for Jesus. Save Your Soul. (2022),movie/Honk_for_Jesus_Save_Your_Soul-12655436,NaN
22,Nope (2022),movie/Nope-10954984,NaN
23,Boomerang (1992),movie/Boomerang-103859,NaN
24,Day Shift (2022),movie/Day_Shift-13314558,NaN
25,Resurrection (2022),movie/Resurrection-11540726,NaN
26,Not Okay (2022),movie/Not_Okay-14814040,NaN
27,Spirited Away (2001),movie/Spirited_Away-245429,NaN
28,Bhaag Milkha Bhaag (2013),movie/Bhaag_Milkha_Bhaag-2356180,NaN
29,That's My Boy (2012),movie/Thats_My_Boy-1232200,NaN
30,Tomorrow Will Be Better (2011),movie/Tomorrow_Will_Be_Better-1814746,NaN
31,Maleficent (2014),movie/Maleficent-1587310,NaN
32,The Nut Job (2014),movie/The_Nut_Job-1821658,NaN
33,English Vinglish (2012),movie/English_Vinglish-2181931,NaN
34,Phata Poster Nikhla Hero (2013),movie/Phata_Poster_Nikhla_Hero-2615584,NaN
35,The Art of the Steal (2013),movie/The_Art_of_the_Steal-2172985,NaN
36,Vampire Academy (2014),movie/Vampire_Academy-1686821,NaN
37,Mud (2012),movie/Mud-1935179,NaN
38,Penelope (2006),movie/Penelope-472160,NaN
39,The Lucky One (2012),movie/The_Lucky_One-1327194,NaN
40,10 Rillington Place (1971),movie/10_Rillington_Place-66730,NaN
41,Virgin Stripped Bare by Her Bachelors (2000),movie/Virgin_Stripped_Bare_by_Her_Bachelors-25...,NaN
42,The Time that Remains (2009),movie/The_Time_that_Remains-1037163,NaN
1863,L'uccello migratore (1972),movie/Luccello_migratore-69431,NaN

In [48]:
df[df['script'].isnull()].drop_duplicates().to_csv('null_scripts.csv', index=False, encoding='utf-8', sep=';')

In [49]:
dataset = pd.merge(df_movies, df_scripts, how='inner', on='links')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55600 entries, 0 to 55599
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movies  55600 non-null  object
 1   links   55600 non-null  object
 2   script  53679 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [52]:
dataset = dataset.drop_duplicates('links')[~dataset['script'].isnull()]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53679 entries, 0 to 55599
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movies  53679 non-null  object
 1   links   53679 non-null  object
 2   script  53679 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [ ]:
dataset.to_csv('dataset.csv', index=False, encoding='utf-8', sep=';')